*{
    margin: 0;
    padding: 0;
}
header nav{
    background: red;
    overflow: hidden;
    height: 80px;
}
header nav ul{
    list-style: none;
    padding-top: 20px;
}
header nav img{
    height: 90px;
    width: 200px;
}
header nav ul li{
    float: right;
    font-size: 20px;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
}
header nav ul li a:hover{
    font-size: 25px;
    border-bottom: 1px solid white;
    color: rgb(255, 255, 255);
}
.main{
    align-items: center;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.WH{
    background: #192a56;
    text-align: center;
    height: 250px
}
.WH p{
    color: white;
    padding-top: 90px;
    font-size: 50px;
}
.DF p{
    text-align: justify;
    font-size: 25px;
}
.QH{
    text-align: center;
    padding-top: 10px;
}
.QH p{
    font-size: 50px;
}
.QHH{
    padding-top: 10px;
    font-size: 25px;
}
footer{
    margin-top: 20px;
    background: black;
    color: white;
    height: 300px;

}
footer table{
     margin-left: auto;
     margin-right: auto;
}
footer table td{
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 20px;
}
footer table td a{
    color: white;
    text-decoration: none;
}
footer table td a:hover{
    color: red;

}
footer div{
    padding-bottom: 30px;
    padding-left:300px;
    display: flex;
    align-items: flex-end;
}
footer div p{
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: 20px;
}
.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
}

.form {
  width: 100%;
  color: #f2f2f2;
  padding: 50px;
}
.form .formulario {
  width: 100%;
  margin: auto;
}
.form .formulario h1{
    color: #220aff;
    text-align: center;
}
.form .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}
.form .formulario .input-group input[type=text],
.form .formulario .input-group input[type=email] {
  font-family: "Roboto";
  font-size: 16px;
  color: #303F9F;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #0ae2ff;
}
.form .formulario .input-group input[type=text]:focus, 
.form .formulario .input-group input[type=text]:active,
.form .formulario .input-group input[type=email]:focus,
.formo .formulario .input-group input[type=email]:active {
  outline: none;
  border-bottom: 2px solid #303F9F;
}
.form.formulario .input-group input[type=text].error,
.form .formulario .input-group input[type=email].error {
  border-bottom: 2px solid #D32F2F;
}
.form .formulario .input-group input[type=text].error + label,
.form .formulario .input-group input[type=email].error + label,
.form .formulario .input-group input[type=password].error + label {
  color: #D32F2F;
}
.form .formulario .input-group label {
  color: #303F9F;
}
.form .formulario .input-group label.label {
  position: absolute;
  top: -12px;
  font-size: 16px;
  line-height: 12px;
  margin-left: 16px;
}
.form .formulario .input-group.checkbox input[type=checkbox] {
  display: none;
}
.form .formulario .input-group.checkbox input[type=checkbox]:checked + label:before {
  display: none;
  border-radius: 3px;
}
.form .formulario .input-group.checkbox input[type=checkbox]:checked + label {
  padding: 5px 15px;
  background: #303F9F;
  color: #f2f2f2;
}
.form .formulario input[type=submit] {
  background: #303F9F;
  border-radius: 1px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  width: 100%;
  font-family: "Roboto";
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form .formulario input[type=submit]:hover {
  background: #1976d2;
}
.principal{
    align-items: center;
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.subprincipal{
  width:100%;
  background: white;
  height: 350px;
  overflow: hidden;
  padding-top: 20px;
}
.cs{
  width:50%;
    float: left;
}
.cs h1{
  font-size: 40px;
  padding-top: 10px;
  font-weight:normal;
}
.cs p{
  font-size: 20px;
  text-align: justify;
}
.cs img{
  padding-left: 70px;
  width: 500px;
  height: 300px;
  padding-bottom: 10px;
}
.subprincipall{
  margin-top: 10px;
  width:100%;
  padding-top: 20px;
  background: #bdc3c7;
  height: 350px;
  overflow: hidden;
}
.c{
  width: 100%;
  text-align: center;
}
.c h1{
  font-size: 40px;
  padding-top: 10px;
  font-weight:normal;
}
.c p{
  margin-bottom: 40px;
  font-size: 25px;
}
.c a{
  text-decoration: none;
  font-size: 25px;
  background: blue;
  color:#fff;
  padding: 20px;
}
.c a:hover{
  background:#1976d2;
}
*::-moz-selection{
   background: #fbdbe8;
   color: #F55B99;
}

*::selection {
   background: #fbdbe8;
   color: #F55B99;
}